<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
        <head>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% stylesheets   '@RLThemesBundle/Resources/public/css/CozyGreen/main.css' 
                         '@RLThemesBundle/Resources/public/css/CozyGreen/common.css'
                         '@RLThemesBundle/Resources/public/css/CozyGreen/hover.css' 
        %}
                <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
        {% endstylesheets %}
{%block javascripts%}
                <script src="{{asset('/web/bundles/rlthemes/js/jquery.js')}}" type="text/javascript"></script>
                <script src="{{asset('/web/bundles/rlthemes/js/common.js')}}" type="text/javascript"></script>
{%endblock javascripts%}
                <title>
{% block title%}
                                TITLE_BLOCK
{% endblock title%}
                        </title>
                </head>
                <body>
                        <table class="layout" cellpadding="0" cellspacing="0">
                                <tr class="header">
                                        <td colspan="2">
{% block header %}
                                                        <table border="0" cellspacing="0" cellpadding="0" width="100%" class="head">
                                                                <tr class="headClsTop">
                                                                        <td><a href="{{path('index')}}">   <img src="{{asset('/web/bundles/rlthemes/images/CozyGreen/lor-new.png')}}" border=0 alt="Main Page"></a></td>
                                                                        <td align=right valign=top><a href="{{path('logout')}}">{%trans%}Logout{%endtrans%}</a></td>
                                                                </tr>
                                                                <tr class="headClsBottom">
                                                                        <td align=left>
										<a href="{{path('section', {'sectionRewrite':'news'})}}">{%trans%}News{%endtrans%}</a> - 
										<a href="{{path('section', {'sectionRewrite':'forum'})}}">{%trans%}Forum{%endtrans%}</a> - 
										<a href="{{path('section', {'sectionRewrite':'articles'})}}">{%trans%}Articles{%endtrans%}</a> - 
										<a href="{{path('section', {'sectionRewrite':'gallery'})}}">{%trans%}Gallery{%endtrans%}</a>
									</td>
                                                                        <td align=right>{%trans%}Welcome,{%endtrans%} <a href="{{path('user', {'name':user.username})}}">{{user.username}}</a>!</td>
                                                                </tr>
                                                        </table>
{% endblock header%}
                                                </td>
                                        </tr>
                                        <tr class="middle">
{%block middle%}
                                                        <td class="content">
{% block navigation %}
{%endblock navigation %}
{% block content %}
{% endblock content%}
                                                                </td>
{% endblock middle%}
                                                        </tr>
                                                        <tr class="footer">
                                                                <td colspan="2">
{%block footer%}                                                        
                                                                                <br>
                                                                                <hr>
                                                                                <hr>
                                                                                (c) 2010-2020 LOR-NG Developers Group<br>
                                                                                Powered by TimeMachine
{%endblock footer%}
                                                                        </td>
                                                                </tr>
                                                        </table>
                                                </body>
                                        </html>
