<form action="{{ path('login_check') }} " method="post" {{ form_enctype(form) }} >
    <table width="100%" cellpadding="0" cellspacing="0">
    {% if error %}
        <tr>
            <td colspan="2">{{ error.message }}</td>
        </tr>
    {% endif %}
        <tr>
            <td>Username</td>
            <td>{{ form_widget(form._username) }}</td>
        </tr>
        <tr>
            <td>Password</td>
            <td>{{ form_widget(form._password) }}</td>
        </tr>
        <tr>
			<td>&nbsp;</td>
            <td>Remember me {{ form_widget(form._remember_me) }}</td>
        </tr>
        <tr>
			<td>&nbsp;</td>
			<td><a href="{{ path('register') }}">Register</a></td>
		</tr>
        <tr>
            <td colspan="2">
                {{ form_rest(form) }}
                <input type="submit" value="Enter" />
            </td>
        </tr>
    </table>
</form>
