{% extends theme.path('RLMainBundle', 'layout.html.twig') %}

{%block title%}
{{parent()}} - {{section.name}} - {{startMessage.thread.subsection.name}} - {{startMessage.thread.messages[0].subject}}
{%endblock title%}

{% block navigation %}
<form name="navForm" action="/">
    <table class=nav>
        <tr>
            <td align=left valign=middle>
                <a href="{{path(section.rewrite)}}">{{section.name}}</a> - <b><a href="{{path('subsection', {'section':section.rewrite, 'name': startMessage.thread.subsection.rewrite})}}">{{startMessage.thread.subsection.name}}</a></b>
            </td>
            <td align=right valign=middle>
                [RSS]
            </td>
        </tr>
    </table>
</form>
{%endblock navigation %}

{%block content%}
{%include theme.path(section.bundle, 'topicStartMessage.html.twig')%}
{%block pagesTop%}
<table class=nav>
    <tr>
        <td align=left valign=middle width="35%">
            <table>
                <tr valign=middle>
                    <td align=left valign=top>
			{%if neighborThreads['previous'] is defined %}
				<a href="{{path('thread', {'id':neighborThreads['previous'].thread.id})}}" rel=prev rev=next>{{neighborThreads['previous'].subject}}</a>
			{%endif%}
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table width="100%">
                <tr valign=middle align=center>
                    <td>
                        {{pages|raw}}
                    </td>
                </tr>
            </table>
        </td>
        <td align=left valign=middle width="35%">
            <table width="100%">
                <tr valign=middle align=right>
                    <td>
			{%if neighborThreads['next'] is defined %}
				<a href="{{path('thread', {'id':neighborThreads['next'].thread.id})}}" rel=prev rev=next>{{neighborThreads['next'].subject}}</a>
			{%endif%}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{%endblock pagesTop%}
{%for message in messages %}
	{%include theme.path('RLForumBundle', 'message.html.twig')%}
{%endfor%}
{%block pagesBottom%}
<table class=nav>
    <tr>
        <td align=left valign=middle width="35%">
            <table>
                <tr valign=middle>
                    <td align=left valign=top>
			{%if neighborThreads['previous'] is defined %}
				<a href="{{path('thread', {'id':neighborThreads['previous'].thread.id})}}" rel=prev rev=next>{{neighborThreads['previous'].subject}}</a>
			{%endif%}
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table width="100%">
                <tr valign=middle align=center>
                    <td>
                        {{pages|raw}}
                    </td>
                </tr>
            </table>
        </td>
        <td align=left valign=middle width="35%">
            <table width="100%">
                <tr valign=middle align=right>
                    <td>
			{%if neighborThreads['next'] is defined %}
				<a href="{{path('thread', {'id':neighborThreads['next'].thread.id})}}" rel=prev rev=next>{{neighborThreads['next'].subject}}</a>
			{%endif%}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{%endblock pagesBottom%}
{%endblock content%}