{% extends theme.path('RLMainBundle', 'layout.html.twig') %}

{%block title%}
{{parent()}} - {%trans%}Forum{%endtrans%} - {{startMessage.thread.subsection.name}} - {{startMessage.thread.messages[0].subject}}
{%endblock title%}

{% block navigation %}
<form name="navForm" action="/">
    <table class=nav>
        <tr>
            <td align=left valign=middle>
                <a href="{{path('forum')}}">{%trans%}Forum{%endtrans%}</a> - <b><a href="{{path('subsection', {'name': startMessage.thread.subsection.rewrite})}}">{{startMessage.thread.subsection.name}}</a></b>
            </td>
            <td align=right valign=middle>
                [RSS]
            </td>
        </tr>
    </table>
</form>
{%endblock navigation %}

{%block content%}
{%include theme.path('RLForumBundle', 'topicStartMessage.html.twig')%}
{%block pagesTop%}
<table class=nav>
    <tr>
        <td align=left valign=middle width="35%">
            <table>
                <tr valign=middle>
                    <td align=left valign=top>
                        <a href="thread_37328_page_1" rel=prev rev=next>Previous</a>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table width="100%">
                <tr valign=middle align=center>
                    <td>
                        {{pages|raw}}
                    </td>
                </tr>
            </table>
        </td>
        <td align=left valign=middle width="35%">
            <table width="100%">
                <tr valign=middle align=right>
                    <td>
                        <a href="thread_37332_page_1" rel=prev rev=next>Next</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{%endblock pagesTop%}
{%for message in messages %}
	{%include theme.path('RLForumBundle', 'message.html.twig')%}
{%endfor%}
{%block pagesBottom%}
<table class=nav>
    <tr>
        <td align=left valign=middle width="35%">
            <table>
                <tr valign=middle>
                    <td align=left valign=top>
                        <a href="thread_37328_page_1" rel=prev rev=next>Previous</a>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table width="100%">
                <tr valign=middle align=center>
                    <td>
                        {{pages|raw}}
                    </td>
                </tr>
            </table>
        </td>
        <td align=left valign=middle width="35%">
            <table width="100%">
                <tr valign=middle align=right>
                    <td>
                        <a href="thread_37332_page_1" rel=prev rev=next>Next</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{%endblock pagesBottom%}
{%endblock content%}