<div class="comment">
  <div class="title"><br></div>
  <div class="msg">
    <table cellspacing="0" width="100%">
      <tr>
        <td valign="top"><h2>{{message.subject}}</h2>
        <p><p>{{message.comment}}</p></p>
        <div class="sign">{{message.user.username}} (<a href="{{path('user', {'name':message.user.username})}}">*</a>) ({{message.postingTime.date}})
		<br>
		{%if user.showUa == true%}
			{{message.useragent}}
		{%endif%}
	</div>
      </td>
    </tr>
  </table>
</div>