<div class=messages>
<div class="title">
<a href="#{{'msg'~thread.messages[0].id}}"><img border="0" src="{{'/web/bundles/rlthemes/images/'~user.theme~'/id.png'}}" alt="[#]"></a>
<a href="move_thread_37329"><img border="0" src="{{'/web/bundles/rlthemes/images/'~user.theme~'/move.png'}}" alt="{%trans%}[Move]{%endtrans%}"></a>
{%if thread.attached == false%}
	<a href="attach_thread_37329"><img border="0" src="{{'/web/bundles/rlthemes/images/'~user.theme~'/attach.png'}}" alt="{%trans%}[Attach]{%endtrans%}"></a>
{%else%}
	<a href="detach_thread_37329"><img border="0" src="{{'/web/bundles/rlthemes/images/'~user.theme~'/detach.png'}}" alt="{%trans%}[Detach]{%endtrans%}"></a>
{%endif%}
<a href="set_filter_142891"><img border="0" src="{{'/web/bundles/rlthemes/images/'~user.theme~'/filter.png'}}" alt="{%trans%}[Add filter]{%endtrans%}"></a>
<a href="message_142891:edit"><img border="0" src="{{'/web/bundles/rlthemes/images/'~user.theme~'/edit.png'}}" alt="{%trans%}[Edit]{%endtrans%}"></a>
</div>
<div class="msg" id="{{'msg'~thread.messages[0].id}}"><h2 class="nt">{{thread.messages[0].subject}}</h2>
{{thread.messages[0].comment}}
<p>
<i>{{thread.messages[0].user.username}}(<a href="{{path('user', {'name': thread.messages[0].user.username})}}">*</a>) ({{thread.messages[0].postingTime.date}})</i>
<br><br>
{%if is_granted('ROLE_ADMIN')%}
	<i>{{thread.messages[0].useragent}}</i>
{%else%}
	{%if thread.messages[0].showUa == true%}
		<i>{{thread.messages[0].useragent}}</i>
	{%endif%}
{%endif%}
</p>
[<a href="{{path('comment', {'thread_id': thread.id, 'comment_id': thread.messages[0].id})}}">{%trans%}Reply to this message{%endtrans%}</a>]<br>
</div>
</div>