{% extends theme.path('RLForumBundle', 'forum.html.twig') %}

{%block content%}
<h1>{{section.name}}</h1>
{%trans%}Groups{%endtrans%}:
	<ul>
        {% for subsection in subsections %}
			<li><a href="{{path('news_subsection', {'name': subsection.rewrite})}}">{{ subsection.name|e }}</a>({%if threadsCount['all'][subsection.id] is defined%}{{threadsCount['all'][subsection.id]}}{%else%}-{%endif%}/{%if threadsCount['day'][subsection.id] is defined%}{{threadsCount['day'][subsection.id]}}{%else%}-{%endif%}/{%if threadsCount['hour'][subsection.id] is defined%}{{threadsCount['hour'][subsection.id]}}{%else%}-{%endif%}) - <i>{{ subsection.description|e }}</i></li>
        {% endfor %}
		</ul>
		<br>
		<h1>{%trans%}Settings{%endtrans%}</h1>
		<ul>
			<li><a href="{{path("user_edit", {'name':user.username})}}">{%trans%}Personal settings{%endtrans%}</a></li>
		</ul><br>
{%endblock%}