<form action="{{path('user_edit', {'name':userInfo.username})}}" method="post" {{form_enctype(moderatorSettings)}}>
	<fieldset>
		<legend>{%trans%}Moderator settings{%endtrans%}</legend>
		<table>
			<tr>
				<td>{{form_label(moderatorSettings.active)}}:</td>
				<td>{{form_widget(moderatorSettings.active)}}</td>
				<td>{{form_errors(moderatorSettings.active)}}</td>
			</tr>
			<tr>
				<td>{{form_label(moderatorSettings.captchaLevel, 'Captcha level')}}:</td>
				<td>{{form_widget(moderatorSettings.captchaLevel)}}</td>
				<td>{{form_errors(moderatorSettings.captchaLevel)}}</td>
			</tr>
		</table>
		{{form_rest(moderatorSettings)}}
	</fieldset>
	<input type="hidden" name="action" value="moderatorSettings">
	<input type="submit" name="sbm" value="{%trans%}Save settings{%endtrans%}">
</form>
