<form action="{{path('user_edit', {'name':userInfo.username})}}" method="post" {{form_enctype(personalInformation)}}>
	<fieldset>
		<legend>{%trans%}Settings{%endtrans%}</legend>
		<table>
			<tr>
				<td>{{form_label(personalSettings.theme)}}:</td>
				<td>{{form_widget(personalSettings.theme)}}</td>
				<td>{{form_errors(personalSettings.theme)}}</td>
			</tr><tr>
			<td>{{form_label(personalSettings.mark)}}:</td>
			<td>{{form_widget(personalSettings.mark)}}</td>
			<td>{{form_errors(personalSettings.mark)}}</td>
		</tr><tr>
			<td>{{form_label(personalSettings.gmt, 'Time zone')}}:</td>
			<td>{{form_widget(personalSettings.gmt)}}</td>
			<td><{{form_errors(personalSettings.gmt)}}/td>
		</tr>
			<tr>
				<td>{{form_label(personalSettings.newsOnPage, 'News on page')}}:</td>
				<td>{{form_widget(personalSettings.newsOnPage, {attr: {'maxlength':3}})}}</td>
				<td>{{form_errors(personalSettings.newsOnPage)}}</td>
			</tr>
			<tr>
				<td>{{form_label(personalSettings.commentsOnPage, 'Comments on page')}}:</td>
				<td>{{form_widget(personalSettings.commentsOnPage, {attr: {'maxlength':4}})}}</td>
				<td>{{form_errors(personalSettings.commentsOnPage)}}</td>
			</tr>
			<tr>
				<td>{{form_label(personalSettings.threadsOnPage, 'Threads on page')}}:</td>
				<td>{{form_widget(personalSettings.threadsOnPage, {attr: {'maxlength':4}})}}</td>
				<td>{{form_errors(personalSettings.threadsOnPage)}}</td>
			</tr>
			<tr>
				<td>{{form_label(personalSettings.showAvatars, 'Show avatars')}}:</td>
				<td>{{form_widget(personalSettings.showAvatars)}}</td>
				<td>{{form_errors(personalSettings.showAvatars)}}</td>
			</tr>
			<tr>
				<td>{{form_label(personalSettings.showUa, 'Show useragent')}}:</td>
				<td>{{form_widget(personalSettings.showUa)}}</td>
				<td>{{form_errors(personalSettings.showUa)}}</td>
			</tr>
			<tr>
				<td>{{form_label(personalSettings.sortingType, 'Sorting type')}}:</td>
				<td>{{form_widget(personalSettings.sortingType)}}</td>
				<td>{{form_errors(personalSettings.sortingType)}}</td>
			</tr>
			<tr>
				<td>{{form_label(personalSettings.showResp, 'Show author of parent message in tracker')}}:</td>
				<td>{{form_widget(personalSettings.showResp)}}</td>
				<td>{{form_errors(personalSettings.showResp)}}</td>
			</tr>
		</table>
		{{form_rest(personalSettings)}}
	</fieldset>
	<input type="hidden" name="action" value="personalSettings">
	<input type="submit" name ="sbm" value="{%trans%}Save settings{%endtrans%}">
</form>
