<form action="{{path('user_edit', {'name':userInfo.username})}}" method="post" {{form_enctype(passwordChanging)}}>
	<fieldset>
		<legend>{%trans%}Change password{%endtrans%}</legend>
		<table>
			<tr>
				<td>{{form_label(passwordChanging.oldPassword, 'Old password')}}:</td>
				<td>{{form_widget(passwordChanging.oldPassword)}}</td>
				<td>{{form_errors(passwordChanging.oldPassword)}}</td>
			</tr>
			<tr>
				<td>{{form_label(passwordChanging.newPassword, 'New password')}}:</td>
				<td>{{form_widget(passwordChanging.newPassword)}}</td>
				<td>{{form_errors(passwordChanging.newPassword)}}</td>
			</tr>
			<tr>
				<td>{{form_label(passwordChanging.validation)}}:</td>
				<td>{{form_widget(passwordChanging.validation)}}</td>
				<td>{{form_errors(passwordChanging.validation)}}</td>
			</tr>
		</table>
		{{form_rest(passwordChanging)}}
	</fieldset>
	<input type="hidden" name="action" value="passwordChanging">
	<input type="submit" name="sbm" value="{%trans%}Save settings{%endtrans%}">
</form>
