<div class="messages">
<div class="comment" id="{{'cmm'~message.id}}">
<div class=title>
<a href="#{{'msg'~message.id}}"><img border="0" src="{{ asset('/bundles/rlmain/images/'~app.user.theme.directory~'/id.png') }}" alt="[#]"></a>
{%if is_granted('ROLE_MODER') or message.user == app.user%}
	<a href="set_filter_142880"><img border="0" src="{{ asset('/bundles/rlmain/images/'~app.user.theme.directory~'/filter.png') }}" alt="{%trans%}Add filter{%endtrans%}"></a>
	<a href="{{path('editMessage', {'messageId':message.id})}}"><img border="0" src="{{ asset('/bundles/rlmain/images/'~app.user.theme.directory~'/edit.png') }}" alt="{%trans%}Edit{%endtrans%}"></a>
{%endif%}
{#{%trans%}Reply to:{%endtrans%} <a href="#{{'msg'~message.referer}}">{{message.thread.messages[message.referer-1].subject}}</a> {%trans%}from{%endtrans%} {{message.thread.messages[message.referer-1].user.username}}  {{message.thread.messages[message.referer-1].postingTime.date}}<br></div>#}
<div class=msg id="{{'msg'~message.id}}">
<table cellspacing="0" width="100%">
<tr>
<td valign=top align=center width="160px">
	{%if message.user.photo is not null%}
		<img src="{{ asset('/bundles/rlmain/images/avatars/'~message.user.photo) }}" alt="avatar">
	{%endif%}
</td>
<td valign=top>
	<h2>{{message.subject}}</h2>
	{{message.comment|raw}}
	<div class=sign>
		{{message.user.username}}(<a href="{{path('user', {'name': message.user.username})}}">*</a>)({{message.postingTime.date}})
		<br>
        {%if message.changedBy.last != false%}
            <b><i>Changed by {{message.changedBy.last.username}} on account of "{{message.changedFor}}"</i></b>
        {%endif%}
		<br>
		{%if is_granted('ROLE_ADMIN')%}
			<i>{{message.useragent}}</i>
		{%else%}
			{%if message.showUa == true%}
				<i>{{message.useragent}}</i>
		{%endif%}
	{%endif%}
	</div>
<div class=reply>
	[<a href="{{path('comment', {'threadId': message.thread.id, 'commentId': message.id})}}">{%trans%}Reply to this message{%endtrans%}</a>]
</div>
</td>
</tr>
</table>
</div>
</div>
</div>
</div>
