{% extends theme.path('RLMainBundle', 'layout.html.twig') %}

{%block title%}
{{parent()}} - {%trans%}Add material{%endtrans%}
{%endblock title%}

{%block content%}
<h1>{%trans%}Add material{%endtrans%}</h1>
<p class="error"></p>
{%if previewMode == false %}
{%block recomendations%}
<h2>{%trans%}Add message{%endtrans%}</h2>
<br>{%trans%}Request to all, who adds threads in forum:{%endtrans%}
<ul>
  <li><b>{%trans%}Read{%endtrans%} <a href="/faq">FAQ</a></b>! {%trans%}Maybe, answer on your question is already there.{%endtrans%}
  <li><b>{%trans%}Write in the correct forum.{%endtrans%}</b> {%trans%}Select an appropriate topic for your question section of the forum, such as questions about system administration must be specified in the Admin, and not in General, etc.{%endtrans%}
  <li><b>{%trans%}Write a meaningful title.{%endtrans%}</b> {%trans%}Create a meaningful title to thread. Messages with meaningless caption("Help!", "Question", ...) remain unanswered.{%endtrans%}
</ul>
{%endblock recomendations%}
{%else%}
<h2>{%trans%}Preview{%endtrans%}</h2>
{% include theme.path('RLMainBundle', 'preview.html.twig')%}
{%endif%}
{%block formTable%}
<form action="{{path('new_thread', {'sectionRewrite':section.rewrite, 'subsectionRewrite':subsection})}}" method="post" {{form_enctype(form)}}>
{{form_errors(form)}}
<table border="0">
<tr>
<td style="vertical-align:top;">{{form_label(form.subject)}}:</td>
<td>
{{form_widget(form.subject, {'attr':{'style':'width:100%'}})}}
<p class="error">{{form_errors(form.subject)}}</p>
</td>
</tr>
<tr>
<td style="vertical-align:top;">{{form_label(form.comment)}}:</td>
<td>
{{form_widget(form.comment, {'attr': {'rows':'20', 'cols':'80'}})}}
<p class="error">{{form_errors(form.comment)}}</p>
</td>
</tr>
<tr>
	<td>{{form_rest(form)}}</td>
	<td></td>
</tr>
<tr>
<td></td>
<td>
<input type="submit" name="submit" value="{%trans%}Send{%endtrans%}">
<input type="submit" name="preview" value="{%trans%}Preview{%endtrans%}">
</td>
</tr>
</table>
</form>
{%endblock formTable%}
{%endblock content %}
