{% extends theme.path('layout.html.twig') %}

{%block title%}
{{parent()}} - {%trans%}Password restoring{%endtrans%}
{%endblock%}

{%block content%}
<form action="{{path('restore_password_check')}}" method="post" {{form_enctype(form)}}>
{{form_errors(form)}}
<table>
<tr>
<td>
{{form_label(form.username)}}
</td>
<td>
{{form_widget(form.username)}}
</td>
<td>
{{form_errors(form.username)}}
</td>
</tr>
<tr>
<td>
{{form_label(form.email)}}
</td>
<td>
{{form_widget(form.email)}}
</td>
<td>
{{form_errors(form.email)}}
</td>
</tr>
<tr>
<td>
{{form_label(form.question)}}
</td>
<td>
{{form_widget(form.question)}}
</td>
<td>
{{form_errors(form.question)}}
</td>
</tr>
<tr>
<td>
{{form_label(form.answer)}}
</td>
<td>
{{form_widget(form.answer)}}
</td>
<td>
{{form_errors(form.answer)}}
</td>
</tr>
</table>
{{form_rest(form)}}
<input type="submit">
</form>
{%endblock%}
