<div class="comment">
  <div class="title"><br></div>
  <div class="msg">
    <table cellspacing="0" width="100%">
      <tr>
        <td valign="top"><h2>{{preview.subject}}</h2>
        <p><p>{{preview.comment|raw}}</p></p>
        <div class="sign">{{preview.user.username}} (<a href="{{path('user', {'name':preview.user.username})}}">*</a>) ({{preview.postingTime.date}})
		<br>
		{%if app.user.showUa == true%}
			{{preview.useragent}}
		{%endif%}
	</div>
      </td>
    </tr>
  </table>
</div>
