<form action="{{path('user_edit', {'name':userInfo.username})}}" method="post" {{form_enctype(personalInformation)}}>
	<fieldset>
		<legend>{%trans%}Personal information{%endtrans%}</legend>
		{%if userInfo.photo is not null%}
			<img src="{{ asset('/bundles/rlmain/images/avatars/'~userInfo.photo) }}" alt="avatar">
		{%endif%}
		<br>{{form_label(personalInformation.photo)}}
		<ul>
			<li>{%trans%}maximum{%endtrans%}: 150x150px;
		</ul>
		{{form_widget(personalInformation.photo)}}
		<br>
		<br>
		<table>
			<tr>
				<td>{{form_label(personalInformation.name)}}:</td>
				<td>{{form_widget(personalInformation.name)}}</td>
				<td>{{form_errors(personalInformation.name)}}</td>
			</tr>
			<td>{{form_label(personalInformation.openid)}}:</td>
			<td>{{form_widget(personalInformation.openid)}}</td>
			<td>{{form_errors(personalInformation.openid)}}</td>
			</tr>
			<tr>
				<td>{{form_label(personalInformation.lastname)}}:</td>
				<td>{{form_widget(personalInformation.lastname)}}</td>
				<td>{{form_errors(personalInformation.lastname)}}</td>
			</tr>
			<tr>
				<td>{{form_label(personalInformation.gender)}}:</td>
				<td>{{form_widget(personalInformation.gender)}}</td>
				<td>{{form_errors(personalInformation.gender)}}</td>
			</tr>
			<tr>
				<td>{{form_label(personalInformation.birthday)}}:</td>
				<td>{{form_widget(personalInformation.birthday)}}</td>
				<td>{{form_errors(personalInformation.birthday)}}</td>
			</tr>
			<tr>
				<td>{{form_label(personalInformation.email)}}:</td>
				<td>{{form_widget(personalInformation.email)}}</td>
				<td>
					{{form_widget(personalInformation.showEmail)}}{%trans%}Show{%endtrans%}
					{{form_errors(personalInformation.email)}}
				</td>
			</tr>
			<tr>
				<td>{{form_label(personalInformation.im)}}:</td>
				<td>{{form_widget(personalInformation.im)}}</td>
				<td>
					{{form_widget(personalInformation.showIm)}}{%trans%}Show{%endtrans%}
					{{form_errors(personalInformation.im)}}
				</td>
			</tr>
			<tr>
				<td>{{form_label(personalInformation.country)}}:</td>
				<td>{{form_widget(personalInformation.country)}}</td>
				<td>{{form_errors(personalInformation.country)}}</td>
			</tr>
			<tr>
				<td>{{form_label(personalInformation.city)}}:</td>
				<td>{{form_widget(personalInformation.city)}}</td>
				<td>{{form_errors(personalInformation.city)}}</td>
			</tr>
		</table>
		{{form_label(personalInformation.additionalRaw, 'Additional')}}<br>
		{{form_widget(personalInformation.additionalRaw, {'attr': {'rows':'7', 'cols':'45'}})}}<br>
		{{form_errors(personalInformation.additionalRaw)}}
		{{form_rest(personalInformation)}}
	</fieldset>
	<input type="hidden" name="action" value="personalInformation">
	<input type="submit" name = "sbm" value="{%trans%}Save settings{%endtrans%}">
</form>
