<form action="{{ path('save_filters_settings', {'name':userInfo.username}) }}" method="post" {{ form_enctype(mainPageSettings) }}>
    <fieldset>
        <legend>{% trans %}Filters settings{% endtrans %}</legend>
        <table>
            {% for filter in filtersSettings.filters %}
                <tr>
                    <td>{{ filter.vars.value.filter.name|capitalize }}:</td>
                    <td>{{ form_widget(filter.weight) }}</td>
                    <td>{{ form_errors(filter.weight) }}</td>
                </tr>
            {% endfor %}
        </table>
        {{ form_rest(filtersSettings) }}
    </fieldset>
    <input type="submit" name="sbm" value="{% trans %}Save settings{% endtrans %}">
</form>
