<form action="{{path('user_edit', {'name':userInfo.username})}}" method="post" {{form_enctype(administratorSettings)}}>
	<fieldset>
		<legend>{%trans%}Administrator settings{%endtrans%}</legend>
		<table>
			<tr>
				<td>{{form_label(administratorSettings.group)}}:</td>
				<td>{{form_widget(administratorSettings.group)}}</td>
				<td>{{form_errors(administratorSettings.group)}}</td>
			</tr>
		</table>
		{{form_rest(administratorSettings)}}
	</fieldset>
	<input type="hidden" name="action" value="administratorSettings">
	<input type="submit" name="sbm" value="{%trans%}Save settings{%endtrans%}">
</form>
