{% extends theme.path('RLMainBundle', 'layout.html.twig') %}

{% block title %}
    {{ parent() }} - {% transchoice hours%}{0} Posted during last %hours% hours|{1} Posted during last %hours% hour| ]1,Inf] Posted during last %hours% hours{% endtranschoice %}
{% endblock title %}

{% block content %}
<form name="trackerForm" action="{{path('tracker')}}" method="post" {{form_enctype(form)}}>
    <table class=nav>
        <tr>
            <td align=left valign=middle>
                {% transchoice hours%}{0} Posted during last %hours% hours|{1} Posted during last %hours% hour| ]1,Inf] Posted during last %hours% hours{% endtranschoice %}
            </td>
            <td align=right valign=middle>
                {% trans %}Time period{% endtrans %}
                {{form_widget(form.hours)}}
                {{form_rest(form)}}
                <input type="submit" name="submit" value="{% trans %}Send{% endtrans %}">
            </td>
        </tr>
    </table>
</form>
<h1>{% transchoice hours%}{0} Posted during last %hours% hours|{1} Posted during last %hours% hour| ]1,Inf] Posted during last %hours% hours{% endtranschoice %}</h1>
<div class=forum>
    <table width="100%" class="message-table">
        <thead>
        <tr>
            {% if is_granted('ROLE_MODER') %}
                <th width="5%">{% trans %}Management{% endtrans %}</th>
            {% endif %}
            <th width="12%">{% trans %}Subsection{% endtrans %}</th>
            <th>{% trans %}Title{% endtrans %}</th>
            <th width="15%">{% trans %}Posting time{% endtrans %}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan='4' align='right'>{% trans %}Comments count{% endtrans %}: {{ count }} &nbsp</td>
        </tr>
        </tfoot>
        <tbody>
        {% for message in messages %}
        <tr>
            {% if is_granted('ROLE_MODER') %}
                <td align="center">
                    <a href="set_filter_156553"><img border=0 src="themes/Cozzy-green/filter.png" alt="Удалить"></a>
                </td>
            {% endif %}
            <td>
                &nbsp<a href="{{ path('section', {'sectionRewrite': message.thread.subsection.section.rewrite}) }}">{{ message.thread.subsection.section.name }}</a>/<a href="{{ path('subsection', {'sectionRewrite': message.thread.subsection.section.rewrite, 'subsectionRewrite': message.thread.subsection.rewrite}) }}">{{ message.thread.subsection.name }}</a>&nbsp
            </td>
            <td>
                <a href="{{ path('thread', {'id': message.thread.id}) }}">{{ message.subject }}</a>({{ message.user.username }}{% if user.showResp == true %}{% if message.referer != null  %}→{{ message.referer.user.username }}{% endif %}{% endif %})
            </td>
            <td align='center'>{{ message.postingTime.date }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock content %}
