<div class=messages>
<div class="title">
<table border=0 width=100%>
<tr>
<td width="120">
    <a href="#{{'msg'~startMessage.id}}"><img border="0" src="{{ asset('/bundles/rlmain/images/'~app.user.theme.directory~'/id.png') }}" alt="[#]"></a>
    {%if is_granted('ROLE_MODER')%}
        <a href="{{ path('move_thread', {'id': startMessage.thread.id}) }}"><img border="0" src="{{ asset('/bundles/rlmain/images/'~app.user.theme.directory~'/move.png' )}}" alt="{%trans%}Move{%endtrans%}"></a>
        {%if startMessage.thread.attached == false%}
            <a href="{{ path('attach_thread', {'id': startMessage.thread.id, 'state' : 'true'}) }}"><img border="0" src="{{ asset('/bundles/rlmain/images/'~app.user.theme.directory~'/attach.png') }}" alt="{%trans%}Attach{%endtrans%}"></a>
        {%else%}
            <a href="{{ path('attach_thread', {'id': startMessage.thread.id, 'state' : 'false'}) }}"><img border="0" src="{{ asset('/bundles/rlmain/images/'~app.user.theme.directory~'/detach.png') }}" alt="{%trans%}Detach{%endtrans%}"></a>
        {%endif%}
    {%endif%}
    {%if is_granted('ROLE_MODER') or startMessage.user == app.user%}
        <a href="{{path('editMessage', {'messageId':startMessage.id})}}"><img border="0" src="{{ asset('/bundles/rlmain/images/'~app.user.theme.directory~'/edit.png') }}" alt="{%trans%}Edit{%endtrans%}"></a>
    {%endif%}
    <a class="filter-link opened" data-fblock="#filters-{{ startMessage.id }}" href="#">{% trans %}Filters{% endtrans %}</a>
</td>
<td>
<h2 class="nt">{{startMessage.subject}}</h2>
</td>
</tr>
</table>
</div>
    {% set hidden = false %}
    {% for messageFilter in startMessage.filters %}
        {% for userFilter in app.user.filters %}
            {% if userFilter.filter.name == messageFilter.filter.name %}
                {% if messageFilter.weight > userFilter.weight %}
                    {% set hidden = true %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% if hidden == true %}
        <div class="filtered_message">
            {% trans %}This message was filtered automatically seeing on your filters settings. You can change them in your profile{% endtrans %}
            <a href="{{ path('showMessage', {'id' : startMessage.id}) }}" class="show_filtered">{% trans %}Show message{% endtrans %}</a>
        </div>
        <div class="msg filtered" id="{{'msg'~startMessage.id}}">
    {% else %}
        <div class="msg" id="{{'msg'~startMessage.id}}">
    {% endif %}
            <div id="filters-{{ startMessage.id }}" class="filters">
                <ul>
                    {% for messageFilter in startMessage.filters %}
                        <li>{{ messageFilter.filter.name }} - {{ messageFilter.weight }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="msg-content">{{startMessage.comment|raw}}
<p>
<i>{{startMessage.user.username}}(<a href="{{path('user', {'name': startMessage.user.username})}}">*</a>) ({{startMessage.postingTime.date}})
<br>
    {%if startMessage.changedBy|length > 0 %}
        <b><i>Changed by {{startMessage.changedBy.last.username}} on account of "{{startMessage.changedFor}}"</i></b>
    {%endif%}
<br>
{%if is_granted('ROLE_ADMIN')%}
	<i>{{startMessage.useragent}}</i>
{%else%}
	{%if startMessage.showUa == true%}
		<i>{{startMessage.useragent}}</i>
	{%endif%}
{%endif%}
</i>
{%if startMessage.thread.approved != false%}
	<br>Approved by: {{startMessage.thread.approvedBy.username}}(<a href="{{path('user', {'name':startMessage.thread.approvedBy.username})}}">*</a>) ({{startMessage.thread.approveTimest.date}})
{%endif%}
</p>
[<a href="{{path('comment', {'threadId': startMessage.thread.id, 'commentId': startMessage.id})}}">{%trans%}Reply to this article{%endtrans%}</a>]<br>
</div>
</div>
</div>
