{%extends '::base.html.twig'%}

{%block title%}
Registration of new user
{%endblock%}

{%block body%}
<form action="{{path('registration_save')}}" method="post" {{form_enctype(form)}}>
{{form_errors(form)}}
<table>
{%block username_line%}
<tr>
<td>
{{form_label(form.username)}}
</td>
<td>
{{form_widget(form.username, {'attr':{'value' : username}})}}
</td>
<td>
{{form_errors(form.username)}}
</td>
</tr>
{%endblock%}
{%block password_line%}
<tr>
<td>
{{form_label(form.password)}}
</td>
<td>
{{form_widget(form.password, {'attr':{'value': password}})}}
</td>
<td>
{{form_errors(form.password)}}
</td>
</tr>
{%endblock%}
<tr>
<td>
{{form_label(form.name)}}
</td>
<td>
{{form_widget(form.name)}}
</td>
<td>
{{form_errors(form.name)}}
</td>
</tr>
<tr>
<td>
{{form_label(form.lastname)}}
</td>
<td>
{{form_widget(form.lastname)}}
</td>
<td>
{{form_errors(form.lastname)}}
</td>
</tr>
<tr>
<td>
{{form_label(form.country)}}
</td>
<td>
{{form_widget(form.country)}}
</td>
<td>
{{form_errors(form.country)}}
</td>
</tr>
<tr>
<td>
{{form_label(form.city)}}
</td>
<td>
{{form_widget(form.city)}}
</td>
<td>
{{form_errors(form.city)}}
</td>
</tr>
<tr>
<td>
{{form_label(form.photo)}}
</td>
<td>
{{form_widget(form.photo)}}
</td>
<td>
{{form_errors(form.photo)}}
</td>
</tr>
<tr>
<td>
{{form_label(form.birthday)}}
</td>
<td>
{{form_widget(form.birthday)}}
</td>
<td>
{{form_errors(form.birthday)}}
</td>
</tr>
<tr>
<td>
{{form_label(form.gender)}}
</td>
<td>
{{form_widget(form.gender)}}
</td>
<td>
{{form_errors(form.gender)}}
</td>
</tr>
<tr>
<td>
{{form_label(form.additional)}}
</td>
<td>
{{form_widget(form.additional)}}
</td>
<td>
{{form_errors(form.additional)}}
</td>
</tr>
{%block email_line%}
<tr>
<td>
{{form_label(form.email)}}
</td>
<td>
{{form_widget(form.email, {'attr': {'value' : email}})}}
</td>
<td>
{{form_errors(form.email)}}
</td>
</tr>
{%endblock%}
<tr>
<td>
{{form_label(form.im)}}
</td>
<td>
{{form_widget(form.im)}}
</td>
<td>
{{form_errors(form.im)}}
</td>
</tr>
{%block openid_line%}
<tr>
<td>
{{form_label(form.openid)}}
</td>
<td>
{{form_widget(form.openid)}}
</td>
<td>
{{form_errors(form.openid)}}
</td>
</tr>
{%endblock%}
<tr>
<td>
{{form_label(form.language)}}
</td>
<td>
{{form_widget(form.language)}}
</td>
<td>
{{form_errors(form.language)}}
</td>
</tr>
<tr>
<td>
{{form_label(form.gmt)}}
</td>
<td>
{{form_widget(form.gmt)}}
</td>
<td>
{{form_errors(form.gmt)}}
</td>
</tr>
</table>
{{form_rest(form)}}
<input type="submit">
</form>
{%endblock%}